h1 {
    font-size: 45px;
    text-align: center;
    border-bottom: 1px solid black;
    margin: 0;
    padding: 20px;
}
a {
    text-decoration: none;
    color: black;
}
#grid ol {
    border-right: 1px solid black;
    width: 80px;
    margin: 0;
    padding: 20px;
    padding-left: 35px;
    padding-right: 0px;
}
body {
    margin: 0;
}
#grid {
    display: grid;
    grid-template-columns: 150px 1fr;
}
@media(max-width: 600px) {
    h1 {
        font-size: 25px;
    }
    #grid ol {
        border: none;
    }
    #grid {
        display: block;
    }
    #grid p, h2 {
        margin-left: 10px;
    }
}